@import "tailwindcss";

body {
    font-family: 'Inter', sans-serif;
}

.times-new-roman {
    font-family: 'Times New Roman', Times, serif;
}

@media print {
    .no-print {
        display: none !important;
    }
}

/* Custom scrollbar for pro feel */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #999;
}